.logoutModal {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: white;
	backdrop-filter: blur(1010px);
	z-index: 1001;
	/* background-color: rgba(200, 200, 0, 0.25); */
	@media screen and (min-width: 768px) {
		border-radius: 20px;
		width: 400px;
		height: 150px;
	}
}
.logoutClose {
	position: absolute;
	top: 20px;
	right: 20px;
}
.logoutQuestion {
	font-size: 30px;
	margin-bottom: 15px;
}
.logoutList {
	display: flex;
	gap: 15px;
}
.isHidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	display: none;
	transform: scale(1.5);
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	left: 0;
	top: 0;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.25);
	transition: transform 0.4s;
	z-index: 1000;
}
