.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.logo {
  margin-top: 30px;
  margin-bottom: 40px;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.registerLabel {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  gap: 18px;
  font-size: 18px;
  margin-left: 10px;
}
/* 
.spacing {
  margin-top: 5px;
} */
