.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  @media screen and (min-width: 768px) {
    background-color: #e0e0e0;
    padding-bottom: 48px;
  }
}

.tabletContainer {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin: 60px 0 50px 0;
  }
}

.finance {
  font-size: 30px;
}

.registerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 533px;
    max-width: 533px;
    height: 616px;
    border-radius: 20px;
    background-color: white;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  margin-bottom: 40px;
  width: 120px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 180px;
  }
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;

  @media screen and (min-width: 768px) {
    width: 80%;
  }
}

.registerInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-bottom: 42px;
  width: 100%;
  max-width: 409px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 409px;
  }
}

.registerLabel {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  gap: 20px;
  font-size: 18px;
  margin-left: 10px;
}

.spacingBt {
  margin-top: 20px;
}

.buttons {
  margin: 0 auto;
}
