.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  @media screen and (min-width: 768px) {
    background-color: #e0e0e0;
  }
}

.registerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 533px;
    max-width: 533px;
    height: 616px;
    border-radius: 20px;
    background-color: white;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  margin-bottom: 40px;
  width: 120px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 180px;
  }
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerInputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 42px;
}

.registerLabel {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  gap: 20px;
  font-size: 18px;
  margin-left: 10px;
}

.spacingBt {
  margin-top: 20px;
}
