.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  @media screen and (min-width: 768px) {
    background-color: #e0e0e0;
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .registerContainer {
    flex-direction: row;
    background-color: rgba(238, 238, 238, 0.6);
  }
}

.tabletContainer {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    margin: 60px 0 50px 0;
    z-index: 10;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.ellipseTablet {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.ellipseDownT {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.desktopContainer {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    padding: 200px 38px 150px 76px;
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .desktopContainer img {
    z-index: 10;
    padding: 0;
  }
}

.ellipseDesktop {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    /* backdrop-filter: blur(50px); */
  }
}

.ellipseDownD {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.finance {
  font-size: 30px;

  @media screen and (min-width: 1280px) {
    margin-top: 31px;
    z-index: 10;
  }
}

.registerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 533px;
    max-width: 533px;
    height: 616px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 48px;
    z-index: 10;
  }
}
@media screen and (min-width: 1280px) {
  .registerWrapper {
    margin: 0 91px 0 107px;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  margin-bottom: 40px;
  width: 120px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 180px;
  }
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;

  @media screen and (min-width: 768px) {
    width: 409px;
  }
}

.registerInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-bottom: 42px;
  width: 100%;
  max-width: 409px;
  margin: 0 auto;
}

.registerLabel {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  gap: 20px;
  font-size: 18px;
  margin-left: 10px;
}

.confirmPass {
  position: relative;
}

.confirmPass::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 50%;
  height: 4px;
  border: 2px solid #24cca7;
  box-shadow: 0px 1px 8px rgba(36, 204, 167, 0.5),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.confirmPass::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 8px;
  width: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #e5f1ef;
  border-radius: 4px;
}

.spacingBt {
  margin-top: 20px;
}

.buttons {
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 300px;
  }
}

.buttons button {
  font-size: 18px;
  @media screen and (min-width: 768px) {
    width: 300px;
  }
}
