.addButton{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #24CCA7;
    position: fixed;
    padding: 0;
    right:20%;
    bottom:5%;
}
.addButton::before{
    content: "+";
    position: absolute;
    height: 40px;
    width: 40px;
    left:2px;
    top:0px;
    font-size: 30px;
    padding: 0;
}
.addButton:hover{
    cursor: pointer;
    border: white 1px solid;
    background-color: #4fe7c6;
}