.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  @media screen and (min-width: 768px) {
    background-color: #e0e0e0;
    position: relative;
  }
}

/* @media screen and (min-width: 1280px) {
  .loginContainer {
    background-image: url('../../utils/bg-desktop-login/rectangle.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
  }
} */

@media screen and (min-width: 1280px) {
  .loginContainer {
    flex-direction: row;
    background-color: rgba(238, 238, 238, 0.6);
  }
}

.tabletContainer {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 60px 0 50px 0;
    z-index: 10;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.ellipseTablet {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.ellipseDownT {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.desktopContainer {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    padding: 200px 38px 150px 76px;
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .desktopContainer img {
    z-index: 10;
  }
}

.ellipseDesktop {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    /* backdrop-filter: blur(50px); */
  }
}

.ellipseDownD {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/* .rectangleDesktop {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    top: -2;
    right: 0;
  }
} */

.finance {
  font-size: 30px;

  @media screen and (min-width: 1280px) {
    margin-top: 28px;
    z-index: 10;
  }
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 533px;
    max-width: 533px;
    height: 468px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 196px;
    z-index: 10;
  }
}

@media screen and (min-width: 1280px) {
  .loginWrapper {
    margin: 0 91px 0 107px;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  margin-bottom: 40px;
  width: 120px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 180px;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;

  @media screen and (min-width: 768px) {
    width: 409px;
  }
}

.loginInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding-bottom: 40px;
  width: 100%;
  max-width: 409px;
  margin: 0 auto;
}

.loginLabel {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  gap: 20px;
  font-size: 18px;
  margin-left: 10px;
}

.spacingBtn {
  margin-top: 20px;
}

.buttons {
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 300px;
  }
}

.buttons button {
  font-size: 18px;
  @media screen and (min-width: 768px) {
    width: 300px;
  }
}
