.loginWrapper {
  display: flex;
  margin: 0 auto;
  max-width: 533px;
  flex-direction: column;
  justify-content: center;
  padding: 107px 20px;

  @media screen and (min-width: 768px) {
    width: 533px;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  margin-bottom: 40px;
  width: 120px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 180px;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 10px 20px;
}

.loginLabel {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  gap: 20px;
  font-size: 18px;
  margin-left: 10px;
}

.loginInput {
  max-width: 280px;
}

.spacingIn {
  margin-bottom: 5px;
}

.spacingBt {
  margin-top: 20px;
}
