.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.loginLabel {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  gap: 18px;
  font-size: 18px;
  margin-left: 10px;
}
