
.containerStatistics {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.40);
    @media(min-width:768px){
        display: block;
        padding-left: 32px;
        padding-right: 32px;
    }
}

.tabContainer {
    @media(min-width:768px){
        display: flex;
        justify-content: space-between;
    }
    @media(min-width:1280px){
        justify-content: flex-end;
    }
}

/*.currencyContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 48px;
    padding: 0 32px;
}*/


.tableContener {
    position: relative;
    top: 130px;
    height: 604px;
    @media(min-width:768px){
      margin-left: 32px;  
    }
}

table {
    width: 280px;
   border-collapse: collapse;
   @media (min-width:768px){
    width:336px;
   }
   @media(min-width:1280px){
    width: 395px;
   }
   
}

.theadStatistics {
border-collapse: collapse;
text-align: left;    
vertical-align: top;
color: #000;
font-family: Circe;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px;
background-color: darksalmon;

}

.theadStatistics tr {
    border-collapse: collapse;
}

.theadStatistics th {
    padding-top: 16px;
   padding-bottom: 15px;
}

.theadStatistics th:first-child {
    border-radius: 30px 0 0 30px;
    padding-left: 20px;
    @media(min-width:768px){
        padding-left: 0px;
        text-align: center;
    }
}

.theadStatistics th:last-child {
    border-radius: 0 30px 30px 0;
   text-align: right;
   padding-right: 20px;
   @media(min-width:768px){
    padding-right: 0px;
    text-align: center;
   }
}

.bodyStatisticsTable {
    padding-top:14px;
}

.bodyStatisticsTable tr {
    margin-left: 20px;
    margin-right: 20px;
    height: 52px;
    border-bottom: 1px solid #DCDCDF;
}

.tableBodyCategory {
text-align: left;
    vertical-align: middle;
    color: #000;
font-family: Circe;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px;
}

.tableBodySum {
    padding-right: 20px;
    color: #000;
text-align: right;
font-family: Circe;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
vertical-align: middle;
}

.categorySquare {
    column-width:48px;
    padding-left: 20px;
}

.categorySquare::before {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #000;
    background-color: var(--category-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


:root {
    --category-color: #000;
}

.categorySquare[data-category="Main expenses"] {
    --category-color: rgba(254, 208, 87, 1);
}

.categorySquare[data-category="Products"] {
    --category-color: rgba(255, 216, 208, 1);
}

.categorySquare[data-category="Car"] {
    --category-color: rgba(253, 148, 152, 1);
}

.categorySquare[data-category="Self care"] {
    --category-color:rgba(197, 186, 255, 1);
}

.categorySquare[data-category="Child care"] {
    --category-color:rgba(110, 120, 232, 1);
}

.categorySquare[data-category="Household products"] {
    --category-color:rgba(74, 86, 226, 1);
}

.categorySquare[data-category="Education"] {
    --category-color:rgba(129, 225, 255, 1);
}

.categorySquare[data-category="Leisure"] {
    --category-color:rgba(36, 204, 167, 1);
}

.categorySquare[data-category="Other expenses"] {
    --category-color:rgba(0, 173, 132, 1);
}

.sumUp {
    padding-top: 16px;
}

.sumUpExpenses {
    position: relative;
    left: 20px;
    color: #000;
font-family: Circe;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
@media (min-width:768px){
    left: 20px;
}
@media (min-width:1280px){
    left: 15px;
}
}
.expensesValue {
    position: relative;
    right: -150px;
    color: #FF6596;
font-family: Circe;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
@media (min-width: 768px) {
    right: -210px;
}
@media (min-width:1280px){
    right: -270px;
}
}

.sumUpIncome {
    position: relative;
    left: 20px;
    color: #000;
font-family: Circe;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 18px;
@media(min-width:768px){
    left: 20px;
}
@media(min-width:1280px){
    left: 15px;
}
}

.IncomeValue {
    position: relative;
    right: -185px;
    color: #24CCA7;
text-align: right;
font-family: Circe;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
@media(min-width:768px){
    right: -250px;
}
@media(min-width:1280px){
    right:-310px;
}
}

.sumUp div:last-child {
    padding-top:17px;
}

.balanceValue {
    color: #000;
text-align: center;
font-family: Circe;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
left: 95px;
bottom: 130px;
@media(min-width:768px) {
    bottom: 160px;
    left: 120px;
}
@media(min-width:1280px){
    bottom: 140px;
    left: 95px;
}
}

.chartContainer {
    padding-top: 20px;
    width:280px;
    height:280px;
    @media(min-width:768px){
        width: 336px;
        height: 336px;
    }
    @media(min-width:1280px){
        width: 288px;
        height: 288px;
    }
}

.chartContainer canvas {
    @media(min-width:768px){
     position: relative;
    left: -10px;   
    } 
}

.titleStatistics {
    color: #000;
text-align: start;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 0px;
padding-top: 40px;
}

.dateContainer{
    position: relative;
    top: 122px;
    @media(min-width:768px){
     margin-left: 15px;   
    }
    @media(min-width:1280px){
        margin-left:0px;
    }
}