.inputDate {
    display: flex;
    flex-direction: column;
    @media(min-width:768px){
        flex-direction: row;
    }
}

.inputMonthYear {
    padding-left: 20px;
    padding-right: 20px;
    width: 280px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #000;
    margin-bottom: 20px;
    background-color: transparent;
    color: #000;
    font-family: Circe;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media(min-width:768px){
        width:160px;
    }
    @media(min-width:1280px){
        width:182px;
    }
}

.inputMonthYear:last-child {
    @media(min-width:768px){
        margin-left: 16px;
    }
    @media(min-width:1280px){
        margin-left:32px;
    }
}

